.about-us__title {
  @include head2-big;
}

.about-us__list {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 20px;
  @include bold;
  list-style: none;
}

.about-us__item {
  padding-top: 80px;
  background-repeat: no-repeat;
}

.about-us__item--ecology {
  background-image: url("../../img/icon-feature-flower.svg");
}

.about-us__item--cost {
  background-image: url("../../img/icon-feature-money.svg");
}

.about-us__item--like {
  background-image: url("../../img/icon-feature-heart.svg");
}

.about-us__item--manually {
  background-image: url("../../img/icon-feature-ball.svg");
}

.about-us__item--native {
  background-image: url("../../img/icon-feature-rocket.svg");
}

.about-us__item--gift {
  background-image: url("../../img/icon-feature-gift.svg");
}
