.catalog {
  margin-bottom: 32px;
}

.catalog__title {
  @include bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  background-color: #f1f1f1;
  padding: 70px 0px 76px 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.catalog__list {
  width: 260px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

.catalog__item {
  border: 1px solid #ececec;
}

.catalog__product-link {
  text-decoration: none;
}

.catalog__product-title {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 13px;
}

.catalog__description {
  margin: 0;
  margin-bottom: 22px;
  padding-bottom: 26px;
  border-bottom: 1px solid #ececec;
}

.catalog__item-container {
  padding: 24px 28px 26px 28px;
}

.catalog__item {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }
}

.catalog__choice {
  display: flex;
  justify-content: space-between;
}

.catalog__price {
  color: #000000;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 55px;
  }

  .catalog__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 80px;
  }

  .catalog__list {
    width: 668px;
    margin: 0 auto;
  }

  .catalog__item {
    display: flex;
    &:not(:last-of-type) {
      margin-bottom: 55px;
    }
  }

  .catalog__item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__product-title {
    font-size: 20px;
  }

  .catalog__description {
    font-size: 15px;
  }

  .catalog__price {
    font-size: 17px;
  }

  .catalog__description {
    margin-bottom: auto;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 60px;
  }

  .catalog__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 130px;
  }

  .catalog__list {
    display: flex;
    width: 1050px;
    min-height: 660px;
  }

  .catalog__item {
    flex-direction: column;
    width: 315px;
  }

  .catalog__item:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}
