.contacts {
  color: $main-color;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__mail--current {
  border-bottom: 1px solid #63d1bb;
}

.contacts__button {
  margin-bottom: 40px;
  @include bold;
  color: $main-color;
}
