.contacts {
  position: relative;
  color: $main-color;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  margin-bottom: 532px;
}

.contacts__table-row {
  display: flex;
  justify-content: space-between;

  @include indents-zero;
  line-height: 30px;
}

.contacts__adress:nth-of-type(2) {
  width: 182px;
}

.contacts__mail--current {
  border-bottom: 1px solid #63d1bb;

  &:active {
    border-color: rgba(70, 193, 174, 0.1);
  }
}

.contacts__mail-link {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: #46c1ae;
    opacity: 0.3;
  }
}

.contacts__map {
  position: absolute;
  top: 258px;
  left: 0;
  right: 0;
}

.contacts__map-image {
  width: 100%;
  height: 460px;
}

.contacts__button {
  margin-bottom: 40px;
  font-size: 18px;

  @include bold;
  color: $main-color;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 56px;
  }

  .contacts__title {
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      right: 52px;
      width: 47px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: auto;
    margin-bottom: 568px;
    font-size: 17px;
  }

  .contacts__table-row:first-of-type {
    align-self: flex-start;
    width: 280px;
  }

  .contacts__table-row:last-of-type {
    justify-content: flex-start;
    width: 334px;
  }

  .contacts__adress:nth-of-type(2) {
    width: 230px;
  }

  .contacts__adress {
    margin-right: 26px;
  }

  .contacts__map {
    top: 246px;
    width: 100%;
    margin: 0;
  }

  .contacts__button {
    display: block;
    width: 230px;
    margin: 0 auto;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: static;
    padding-bottom: 102px;
  }

  .contacts .container {
    position: relative;
  }

  .contacts__title {
    position: relative;
    margin-left: 170px;
    margin-top: 143px;
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__title::before {
    content: "";
    position: absolute;
    top: -8px;
    left: -108px;
    width: 47px;
    height: 81px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat;
  }

  .contacts__information {
    display: block;
    width: 350px;
    margin-left: 174px;
    margin-bottom: 80px;
  }

  .contacts__table-row:first-of-type {
    margin-bottom: 30px;
  }

  .contacts__button {
    margin: 0;
    margin-left: 172px;
  }

  .contacts__map {
    top: 0;
  }

  .contacts__map .contacts__map-image {
    position: absolute;
    right: 0;
    top: -70px;
    padding-right: 50px;
  }

  .contacts__map-image {
    width: 525px;
    height: 457px;
  }
}
