.contact {
  margin-bottom: 32px;
}

.contact__title {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #63d1bb;
}

.contact__group {
  margin: 0;
  margin-bottom: 21px;
}

.contact__group label {
  display: block;
  margin-bottom: 16px;
}

.contact input {
  display: block;
  width: 100%;
  padding: 0;
  padding-bottom: 16px;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 2px solid #62d1ba;
  }
}

.contact__group input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;

  @include normal;
}

.contact__group input::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;

  @include normal;
}

// .contact__group input[type="text"]::-moz-placeholder {
//   font-size: 17px;
//   line-height: 18px;
//   opacity: 0.3;
//   @include normal;
// }

.contact__group input:-ms-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  opacity: 0.3;

  @include normal;
}

// .contact__group input[type="text"]:-ms-input-placeholder {
//   font-size: 17px;
//   line-height: 18px;
//   opacity: 0.3;
//   @include normal;
// }

@media (min-width: $tablet-width) {
  .contact {
    margin-bottom: 0;
    padding-top: 64px;
    padding-bottom: 10px;
  }

  .contact__title {
    margin: 0;
    margin-right: 125px;
  }

  .contact__filter-group {
    width: 100%;
  }

  .contact__group {
    display: flex;
    margin-bottom: 40px;
  }

  .contact__group label {
    margin-bottom: 0;
    margin-right: 26px;
  }

  .contact input {
    margin-top: -4px;
    padding-bottom: 12px;
    padding-left: 16px;
    font-size: 19px;
  }

  .contact__group input[type="text"]::-webkit-input-placeholder {
    font-size: 19px;
  }

  .contact__group input[type="text"]::-moz-placeholder {
    font-size: 19px;
  }

  .contact__group input[type="text"]:-ms-input-placeholder {
    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    padding-left: 60px;
    padding-right: 174px;
    padding-bottom: 12px;
  }

  .contact__title {
    margin-right: 74px;
    margin-top: 2px;
  }

  .contact__group {
    margin-bottom: 40px;
  }

  .contact__group label {
    padding-top: 1px;
  }

  .contact__group:first-of-type input {
    margin-top: -6px;
    padding-bottom: 14px;
  }
}
