.copyright {
  display: flex;
  justify-content: space-between;
  width: 182px;
  min-height: 45px;
  margin: 0 auto;
}

.copyright__text {
  font-size: 18px;
  line-height: 30px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text--catalog {
  font-size: 19px;
  line-height: 18px;
  @include bold;
  color: #000000;
}

.copyright__link {
  fill: #231f20;

  &:hover,
  &:focus {
    fill: rgba(70, 193, 174, 1);
  }

  &:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    min-height: auto;
    width: auto;
    margin: 0;
  }

  .copyright__text {
    margin-right: 30px;
    font-size: 19px;
    line-height: 18px;
  }
}
