.copyright {
  width: 182px;
  min-height: 45px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.copyright__text {
  font-size: 18px;
  line-height: 30px;
}

.copyright__text--catalog {
  font-size: 19px;
  line-height: 18px;
  @include bold;
  color: #000000;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
