.copyright {
  display: flex;
  justify-content: space-between;
  width: 190px;
  min-height: 45px;
  margin: 0 auto;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  color: #000000;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  padding: 6px 2px;
  font-size: 19px;
  line-height: 18px;

  @include bold;
}

.copyright__text--catalog {
  font-size: 19px;
  line-height: 18px;

  @include bold;
  color: #000000;
}

.copyright__image {
  margin-right: -6px;
  fill: rgba(99, 209, 187, 1);
}

.copyright__link:hover .copyright__image,
.copyright__link:focus .copyright__image {
  fill: rgba(70, 193, 174, 1);
}

@media (min-width: $tablet-width) {
  .copyright {
    min-height: auto;
    width: auto;
    margin: 0;
  }

  .copyright__link {
    margin-top: -10px;
  }

  .copyright__text {
    margin-right: 16px;
    margin-top: -7px;
    font-size: 19px;
    line-height: 18px;
  }

  .copyright__image {
    margin-right: -12px;
    margin-top: -8px;
  }
}

@media (min-width: $desktop-width) {
  .copyright--index {
    position: relative;
    top: -6px;
  }

  .copyright--catalog {
    position: relative;
    top: -7px;
  }

  .copyright--form {
    position: relative;
    top: -10px;
  }
}
