.filter {
  padding: 0px 30px;
  font-size: 17px;
  line-height: 18px;
  @include bold;
}

.filter__form fieldset {
  padding: 0;
  border: none;
}

.filter__description {
  font-size: 14px;
  line-height: 16px;
  color: $main-color;
  @include normal;
}

.filter__button {
  width: 100%;
  line-height: 16px;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .filter {
    padding: 0px 50px;
  }

  .filter__form fieldset {
    display: flex;
    flex-direction: row;
  }

  .filter label {
    font-size: 19px;
  }
}

@media (min-width: $desktop-width) {

}
