.filter {
  padding: 0px 30px;
  padding-bottom: 50px;
  font-size: 17px;
  line-height: 18px;
  @include bold;
}

.filter__form .fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  border: none;
  position: relative;

  &::before {
    content: "";

    position: absolute;
    top: 8px;
    left: 60px;

    width: 200px;
    height: 1px;
    background-color: #63d1bb;
  }
}

.filter h3 {
  text-transform: uppercase;
}

.filter label {
  font-size: 17px;
  line-height: 18px;
}

.filter__description {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: $main-color;
  @include normal;
  margin-bottom: 32px;
}

.filter__button {
  width: 100%;
  line-height: 16px;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .filter {
    padding: 0px 50px;
    padding-bottom: 50px;
  }

  .filter__form .fieldset {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 70px;

    &::before {
      display: none;
    }
  }

  .filter h3 {
    margin-right: 149px;
  }

  .filter label {
    font-size: 19px;
  }

  .filter__button {
    width: 230px;
  }

  .filter__footer {
    display: flex;
    justify-content: space-between;
  }

  .filter__description {
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .filter__footer {
    width: 700px;
    margin: 0 auto;
  }
}
