.mail {
  margin-bottom: 32px;
}

.mail__title {
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  margin-bottom: 22px;
}

.mail input {
  font-size: 17px;
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 2px solid #000000;
  padding-bottom: 16px;
}

.mail__icon {
  position: absolute;
  right: 4px;
  top: 34px;
}

@media (min-width: $tablet-width) {
  .mail {
    padding-top: 27px;
    padding-bottom: 50px;
    margin-bottom: 0;
    background-color: #f1f1f1;
  }

  .mail__title {
    margin: 0;
    padding-top: 14px;
    margin-right: 122px;
  }

  .mail__filter-group {
    width: 100%;
  }

  .mail__group {
    position: relative;
    margin: 0;
  }

  .mail input {
    background-color: transparent;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 18px;
    font-size: 19px;
    padding-right: 60px;
    box-sizing: border-box;
  }

  .mail__icon {
    position: absolute;
    right: 22px;
    top: 8px;
    fill: rgba(0, 0, 0, 0.2);
  }

  input:hover ~ .mail__icon path,
  input:focus ~ .mail__icon path {
    fill: #62d1ba;
    opacity: 1;
  }
}

@media (min-width: $desktop-width) {
  .mail {
    padding-left: 62px;
    padding-right: 175px;
  }

  .mail__title {
    margin-right: 61px;
  }

  .mail__icon {
    right: 4px;
    top: 7px;
  }
}
