.main-nav {
  position: absolute;
  z-index: 2;
  top: 80px;
  background-color: #ffffff;
}

.main-nav__button {
  position: absolute;
  right: 0;
  top: -80px;

  display: block;
  width: 80px;
  height: 80px;

  cursor: pointer;
  border: none;
  background-color: transparent;
}

.main-nav--closed .main-nav__button {
  bottom: 0;
  right: -328px;
}

.main-nav--closed .main-nav__button::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 20px;

  width: 20px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__button::before,
.main-nav--opened .main-nav__button::after {
  content: "";

  position: absolute;
  top: 35px;
  left: 20px;

  width: 23px;
  height: 2px;

  background-color: #000000;
}

.main-nav--opened .main-nav__button::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__button::after {
  transform: rotate(-45deg);
}

.main-nav__navigation {
  @include indents-zero;
}

.main-nav__item {
  position: relative;
  border-top: 1px solid #d3d2d2;
  border-bottom: 1px solid #d3d2d2;
}

.main-nav__item-search {
  position: absolute;
  top:30px;
  left: 40px;

  opacity: 0.2;
}

.main-nav__item-basket {
  position: absolute;
  top:30px;
  left: 40px;

  opacity: 0.2;
}

.main-nav__item-link {
  @include bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__navigation {
    display: none;
  }

  .main-nav--nojs .main-nav__button {
    display: none;
  }

  .main-nav--nojs .main-nav__navigation {
    display: block;
  }

  .main-nav__item-link {
    display: block;
    padding: 27px 70px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: static;
    padding: 0px 50px;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__navigation {
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item {
    padding: 0;
    border-top: none;
    border-bottom: none;
  }

  .main-nav__item:nth-child(1),
  .main-nav__item:nth-child(2) {
    position: absolute;
    bottom: -40px;
  }

  .main-nav__item:nth-child(1) .main-nav__item-link,
  .main-nav__item:nth-child(2) .main-nav__item-link {
    font-size: 15px;
  }

  .main-nav__item:nth-child(2) {
    left: 218px;
  }

  .main-nav__item:nth-child(3) {
    margin-left: auto;
  }

  .main-nav__item-link--search {
    font-size: 0;
  }

  .main-nav__item:not(:last-of-type) {
    margin-right: 45px;
  }

  .main-nav__item-search {
    top: -32px;
    left: -122px;
    padding: 35px 32px;
    border: 1px solid #ececec;
  }

  .main-nav__item-basket {
    top: 4px;
    left: -52px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    padding: 0px 100px;
  }

  .main-nav__item:nth-child(1),
  .main-nav__item:nth-child(2) {
    position: static;
  }

  .main-nav__item:nth-child(1) .main-nav__item-link,
  .main-nav__item:nth-child(2) .main-nav__item-link {
    font-size: 17px;
  }
}
