.main-nav__navigation {
  padding: 0;
  margin: 0;
}

.main-nav__item {
  padding: 27px 94px 27px 32px;
}

.main-nav__item-link {
  @include bold;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}
