.making {
  position: relative;
  margin-bottom: 58px;
  padding-bottom: 32px;
  border: 1px solid #ececec;
}

.making:hover,
.making:focus {
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.making:active {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.1);
}

.making__image {
  position: absolute;
  top: 95px;
}

.making__button-icon {
  position: absolute;
  top: 130px;
  left: 79px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.making__button-link:hover svg {
  transform: scale(1.2);
}

.making__button-link:active svg {
  transform: scale(0.8);
  opacity: 0.3;
}

.making__title {
  position: relative;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 202px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 33px;
    width: 32px;
    height: 30px;
    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.making__description {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 33px;
  font-size: 13px;
  line-height: 24px;
}

.making__button {
  width: 190px;
  margin: 0 auto;
  padding: 16px 0;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .making {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin-bottom: 62px;
    padding-bottom: 45px;

    &::before {
      top: 50%;
      left: 50%;
      margin-left: -50px;
      margin-top: -182px;
    }
  }

  .making__button-icon {
    top: 188px;
    left: 284px;
  }

  .making__image {
    position: static;
    width: 668px;
    height: 455px;
    margin-bottom: 35px;
  }

  .making__title {
    order: 1;
    margin: 0;
    margin-bottom: 31px;
    padding-left: 105px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      top: -6px;
      left: 40px;
    }
  }

  .making__description {
    order: 2;
    margin-bottom: 35px;
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px;
  }

  .making__button {
    order: 2;
    width: 585px;
  }
}

@media (min-width: $desktop-width) {
  .making {
    flex-direction: row;
    justify-content: space-between;
    width: 1050px;
    margin-bottom: 102px;
    padding-bottom: 0;

    &::before {
      top: 190px;
      left: 291px;
      margin: 0;
    }
  }

  .making__button-icon {
    top: 189px;
    left: 291px;
  }

  .making__container {
    width: 290px;
    padding-top: 95px;
  }

  .making picture {
    display: flex;
  }

  .making__image {
    width: 682px;
    margin-bottom: 0;
  }

  .making__title {
    padding-left: 2px;
    padding-right: 60px;
    margin-bottom: 34px;

    &::before {
      top: -53px;
      left: 3px;
    }
  }

  .making__description {
    margin-bottom: 46px;
    padding: 0;
  }

  .making__button {
    width: 230px;
    margin: 0;
    margin-left: 2px;
  }
}
