.making {
  position: relative;
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
  padding-bottom: 32px;
  margin-bottom: 58px;
}

.making__image {
  position: absolute;
  top: 95px;
}

.making__title {
  position: relative;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 90px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 202px;

  &::before {
    content: "";

    position: absolute;
    top: 7px;
    left: 33px;

    width: 32px;
    height: 30px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.making__description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}

.making__button {
  line-height: 16px;
  padding: 16px 0px;
}

.making__description {
  padding: 0px 35px;
}

.making__button {
  width: 190px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .making {
    position: static;
    width: 668px;
    display: flex;
    flex-direction: column;
  }

  .making__image {
    position: static;
  }

  .making__title {
    order: 1;
    padding-left: 105px;
    margin-bottom: 0;
  }

  .making__description {
    order: 2;
    padding: 0px 40px;
  }

  .making__button {
    order: 2;
    width: 585px;
  }
}

@media (min-width: $desktop-width) {
  .making {
    width: 1050px;
    flex-direction: row;
  }

  .making-container {
    width: 350px;
  }

  .making__button {
    width: 230px;
  }
}
