.page-main-form__title {
  @include bold;
  font-size: 27px;
  line-height: 30px;
  color: #231f20;
  background-color: #f1f1f1;
  padding: 70px 0px 76px 0px;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}

.page-main-form__description {
  width: 260px;
  margin: 0 auto;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .page-main-form__title {
    font-size: 43px;
    line-height: 50px;
    padding: 87px 0px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .page-main-form__description {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .page-main-form__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 125px;
  }

  .page-main-form__description {
    width: 700px;
  }
}
