.page-footer {
  min-height: 160px;
  background-color: #f1f1f1;
}

.page-footer .container {
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    min-height: 142px;
  }

  .page-footer .container {
    width: 668px;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 62px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    padding: 0;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer .container {
    width: 1050px;
    align-items: baseline;
    padding-top: 48px;
  }
}
