.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__comment {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 90px;
  }

  .page-header__logo {
    position: absolute;
    z-index: 3;
    left: 50px;
  }

  .page-header__comment {
    position: absolute;
    right: 50px;
    bottom: -40px;
    display: block;
    font-size: 15px;
    line-height: 24px;
    color: $main-color;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    left: 50%;
    margin-left: -75px;
  }
}
