.reviews {
  margin-bottom: 36px;
  padding-bottom: 50px;
  color: $main-color;
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__text {
  margin-bottom: 28px;
  line-height: 30px;
}

.reviews__author-name {
  display: block;
  margin-bottom: 29px;
  font-size: 17px;
  line-height: 24px;

  @include bold;
  color: #000000;
}

.reviews__author-social {
  display: block;
  margin-top: 3px;
  line-height: 30px;
  @include normal;
  color: #444444;
}

.reviews__write {
  @include bold;
  color: $main-color;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 62px;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 130px;
    padding-top: 78px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto;
    background-color: #fefefe;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .reviews__title {
    margin-bottom: 48px;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__list {
    order: 2;
  }

  .reviews__text {
    margin: 0;
    margin-bottom: 58px;
    font-size: 17px;
  }

  .reviews__write {
    align-self: flex-start;
    width: 176px;
    margin-left: auto;
  }

  .reviews__author-name {
    width: 450px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .reviews__author-social {
    margin-top: 4px;
    font-size: 17px;
    line-height: 30px;

    @include normal;
  }

  .reviews__item-footer {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 72px;
    padding-top: 0;
    padding-bottom: 184px;
  }

  .reviews__title {
    margin-top: 70px;
    margin-left: 172px;
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__write {
    margin-top: 78px;
  }

  .reviews__list {
    padding-left: 174px;
  }

  .reviews__text {
    margin-bottom: 40px;
    padding-right: 100px;
  }

  .reviews__text-current {
    display: block;
  }

  .reviews__author-name {
    font-size: 17px;
  }
}
