.sale__title {
  @include bold;
  @include head2-big;
  color: #000000;
  margin: 0;
}

.sale__title-description {
  @include bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.sale__description {
  color: $main-color;
  line-height: 24px;
}

.sale__characteristics {
  color: $main-color;
  line-height: 20px;
}

.sale__price {
  @include bold;
  font-size: 17px;
  color: $main-color;
}

.sale__button {
  @include bold;
  line-height: 20px;
  color: $main-color;
}
