.social__list {
  @include indents-zero;
  width: 142px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {

}
