.tel {
  margin-bottom: 32px;
}

.tel__title {
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
}

.tel input {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  padding-top: 3px;
  font-size: 19px;
  border: none;
  border-bottom: 2px solid #000000;
  padding-bottom: 14px;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }
}

.tel__icon {
  position: absolute;
  top: 32px;
  right: 8px;
}

@media (min-width: $tablet-width) {
  .tel {
    padding-top: 55px;
    margin-bottom: 0;
    background-color: #f1f1f1;
  }

  .tel__title {
    margin: 0;
    padding-top: 13px;
    margin-right: 135px;
  }

  .tel__filter-group {
    width: 100%;
  }

  .tel__group {
    position: relative;
    margin: 0;
  }

  .tel input {
    background-color: transparent;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 18px;
    font-size: 19px;
    padding-right: 60px;
    box-sizing: border-box;
  }

  .tel__icon {
    position: absolute;
    top: 8px;
    right: 26px;
    fill: rgba(0, 0, 0, 0.2);
  }

  input:hover ~ .tel__icon path,
  input:focus ~ .tel__icon path {
    fill: #62d1ba;
    opacity: 1;
  }
}

@media (min-width: $desktop-width) {
  .tel {
    padding-left: 62px;
    padding-right: 175px;
  }

  .tel__title {
    margin-right: 81px;
  }

  .tel__icon {
    right: 8px;
    top: 7px;
  }
}
