.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
}

.container {
  width: 260px;
  margin: 0;
  padding: 0;
}

@mixin normal {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
}

@mixin bold {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
}
